* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  cursor: none;
  
}

:root {
  /*Colors*/

  --color-red: #D62C2C;
  --color-lightblue: #465B67;
  --color-darkblue: #2F4858;
  --color--beige: #FFF0D2;
  --color-font: #465B67;
  --color-lightfont: #FAFAFA;
}

body {
  background-image: url(/assets/background.png);
  background-color: #FFFFFF;
}

li {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.042vw;
  color: var(--color-darkblue);
}

h1 {
  font-size: 10.417vw;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 11.5vw;
  overflow: hidden;
  color: var(--color-red);
}

h2 {
  font-size: 12.5vw;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-lightblue);
}

h3 {
  font-size: 6.25vw;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 6.5vw;
  overflow: hidden;
  color: var(--color-red);
}

bg {
  display: inline-block;
  width: auto;
  position: relative;
  z-index: 1;
}

bg::before {
  content: "";
  position: absolute;
  top: 0; /* Adjust this value to move the background higher */
  left: 0;
  right: 0;
  height: 70%; /* Adjust this value to control the height of the background */
  background: #F7E96A;
  z-index: -1;
}

bg-b {
  display: inline-block;
  width: auto;
  position: relative;
  z-index: 1;
}

bg-b::before {
  content: "";
  position: absolute;
  top: 0; /* Adjust this value to move the background higher */
  left: 0;
  right: 0;
  height: 70%; /* Adjust this value to control the height of the background */
  background: #577386;
  z-index: -1;
}

label {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 0.625vw;
  color: var(--color-darkblue);
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.833vw;
  color: var(--color-darkblue);
}

.button-dark .border {
  padding: 0.4vw;
  margin: 0.1vw;
  border-radius: 0.208vw;
  background: 
      linear-gradient(90deg, var(--color-darkblue) 50%, transparent 0) repeat-x,
      linear-gradient(90deg, var(--color-darkblue) 50%, transparent 0) repeat-x,
      linear-gradient(0deg, var(--color-darkblue) 50%, transparent 0) repeat-y,
      linear-gradient(0deg, var(--color-darkblue) 50%, transparent 0) repeat-y;
      background-size: 0.521vw 0.104vw, 0.521vw 0.104vw, 0.104vw 0.521vw, 0.104vw 0.521vw;
      background-position: 0 0, 0 100%, 0 0, 100% 0;
      animation: linearGradientMove .5s infinite linear;

      &:hover {
        animation: linearGradientStop .3s infinite linear;
    }
}

.button-light .border {
  padding: 0.4vw;
  margin: 0.1vw;
  border-radius: 0.208vw;
  background: 
      linear-gradient(90deg, var(--color--beige) 50%, transparent 0) repeat-x,
      linear-gradient(90deg, var(--color--beige) 50%, transparent 0) repeat-x,
      linear-gradient(0deg, var(--color--beige) 50%, transparent 0) repeat-y,
      linear-gradient(0deg, var(--color--beige) 50%, transparent 0) repeat-y;
      background-size: 0.521vw 0.104vw, 0.521vw 0.104vw, 0.104vw 0.521vw, 0.104vw 0.521vw;
      background-position: 0 0, 0 100%, 0 0, 100% 0;
      animation: linearGradientMove .5s infinite linear;

      &:hover {
        animation: linearGradientStop .3s infinite linear;
    }
}

@keyframes linearGradientMove {
  100% {
      background-position: 0.521vw 0, -0.521vw 100%, 0 -0.521vw, 100% 0.521vw;
  }
} 

@keyframes linearGradientStop {
  100% {
    background-position: 0 0, 0 100%, 0 0, 100% 0;
  }
} 


.button-dark .background {
  background-color: var(--color-darkblue);
  padding: 0.5vw;
  border-radius: 0.208vw;
  width: 6.25vw;
  height: 2vw;
  font-size: 1.042vw;
  line-height: 1vw;
  overflow: hidden;
}

.button-light .background {
  background-color: var(--color--beige);
  padding: 0.5vw;
  border-radius: 0.208vw;
  width: 9vw;
  height: 2vw;
  font-size: 1.042vw;
  line-height: 1vw;
  overflow: hidden;
}

.button-dark p {
  color: var(--color-lightfont);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Condensed", sans-serif;
}

.button-light p {
  color: var(--color-darkblue);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 550;
  font-family: "Roboto Condensed", sans-serif;
  
}

/*Navigation Menu Styling*/
.navigation-bar {
  position: fixed;
  width: 100%;
  z-index: 5;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1.302vw;
  padding-right: 1.302vw;
  height: 2.604vw;

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex: 95%;
    justify-content: flex-end;
    
    li {
      margin-left: 1.302vw;
      transition: color 0.5s ease;
      transition: font-family 0.5s ease;
    }
  }

  nav {
    display: flex;
    flex: 5%;

    img {
      height: 1.302vw;
      width: auto;
    }
  }
}

.navigation-bar {
  --color: var(--color-lightfont); 
}

.navigation-bar ul li a {
  color: var(--color-font);
}

.navigation-bar.about-active ul li a {
  color: var(--color-lightfont);
}

html {
  scroll-behavior: smooth;
}

.navigation-bar ul li a {
  text-decoration: none;
  color: inherit;
}

.navigation-bar ul li a:hover,
.navigation-bar ul li a:active,
.navigation-bar ul li a:visited {
  text-decoration: none;
  color: inherit;
}

.navigation-bar ul li {
  font-family: 'Roboto', sans-serif;
  transition: font-family 0.5s ease;
}

.navigation-bar.home-active .nav-home,
.navigation-bar.about-active .nav-about,
.navigation-bar.projects-active .nav-projects {
  font-family: 'Libre Barcode 128 Text', sans-serif;
  color: var(--color-red);
  font-size: 1.5vw;
}

/*Landing Section Styling*/
#home {
  margin-top: 2.604vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.line-one {
  display: flex;
  flex-direction: row;

  .paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 50%;

    p {
      width: 40%;
      text-align: end;
      font-weight: 500;
    }
  }

  .title {
    display: flex;
    flex: 45%;
    justify-content: flex-end;
  }

  .label {
    display: flex;
    flex: 5%;
    margin-left: 1.042vw;
    margin-top: 1.2vw;
    align-items: start;
    justify-content: start;
    
    label {
      writing-mode: vertical-lr;
      text-orientation: sideways;
    }
  }
}

.line-two {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: visible;

  h2 {
    white-space: nowrap;
    text-align: center;
    flex-shrink: 0;
  }
}

.line-two::before,
.line-two::after {
  content: '';
  flex: 1;
}

.line-three {
  display: flex;
  flex-direction: row;

  .label {
    display: flex;
    flex: 5%;
    margin-right: 1.042vw;
    margin-bottom: 1.1vw;
    align-items: end;
    justify-content: end;
    
    label {
      writing-mode: vertical-lr;
      text-orientation: sideways;
      transform: rotate(180deg);
    }
  }

  .title {
    display: flex;
    flex: 48%;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .button-dark {
    display: flex;
    justify-content: end;
    align-items: end;
    margin: 1.042vw;
    flex: 50%;
    margin-right: 5%;
  }

}

/*Porjects Cards Styling*/
.container {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
  margin-bottom: 10vw;

  .cards {
    margin-left: 5.208vw;
    overflow: hidden;
  }
  .card {
    display: flex;
    flex-direction: row;
    height: 31.25vw;
    width: 62.5vw;
    margin-bottom: 2.604vw;
    background: var(--color--beige);
    font-size: 1.875vw;
    border: 1.042vw solid var(--color-darkblue);
    border-radius: 1.302vw;

    .project-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 30%;

      img {
        width: 10vw;
        height: auto;
      }
    }

    .project-role {
      display: flex;
      justify-content: end;
      align-items: start;
      
      margin-top: 7.5vw;

      p {
        writing-mode: vertical-lr;
        text-orientation: sideways;
        transform: rotate(180deg);
        font-size: 1.042vw;
        color: var(--color-darkblue);
      }
    }

    .project-information {
      display: flex;
      flex-direction: column;
      flex: 70%;
      margin-top: 1vw;

      .project-description {
        margin: 1vw;
        flex: 50%;
      }
      .button-dark {
        display: flex;
        justify-content: end;
        margin: 1vw;
      }
    }
  }
  .card:first-child {
    box-shadow: 0px 0px 30px 3px rgba(26, 4, 4, 0.05);
  }
}

/*About Section Styling*/
#about {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--color-darkblue);
  z-index: 3;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.about-heading {
  margin-top: 8vw;
  display: flex;
  align-items: end;
  flex: 40%;
  flex-direction: column;
  overflow: hidden;

  img {
    position: absolute;
    bottom: 0;
    display: flex;
    margin: -4vw;
    width: 22vw;
    height: auto;
  }
}

nav {
  overflow: hidden;
}

.about-information {
  margin-top: 5.208vw;
  display: flex;
  flex: 60%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .about-text {
    color: #FAFAFA;
    width: 75%;
  }
}

.about-information .button {
  margin-top: 2vw;
  width: 75%;
  display: flex;
  justify-content: flex-end;
}

/* Custom cursor */
.cursor {
  width: 2.604vw;
  height: 2.604vw;
  border-radius: 50%;
  border: 0.104vw solid var(--color-darkblue);
  transition: transform 0.2s ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.cursor2 {
  width: 1.042vw;
  height: 1.042vw;
  border-radius: 50%;
  background-color: var(--color-lightblue);
  opacity: 0.6;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 0.3s, height 0.3s, opacity 0.3s, background-color 0.3s;
  z-index: 999;
}

.cursor .click {
  transform: scale(0.8);
}

.hover {
  background-color: var(--color-red);
  opacity: 0.5;
  z-index: 900;
}

.cursorinnerhover {
  width: 2.604vw;
  height: 2.604vw;
  opacity: 0.9;
  background-color: var(--color-red);
}

footer {
  background-color: #22333D;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7.813vw;
  z-index: 999;
  overflow: hidden;

  div {
    display: flex;
    flex-direction: row;
    flex: 50%;
  }

  h3 {
    color: var(--color-lightblue);
    margin-left: 1.302vw;
  }

  .socials {
    display: flex;
    justify-content: end;
    margin-right: 1.302vw;
    overflow: hidden;

    nav {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1.302vw;
      border: 0.521vw solid var(--color-red);
      border-radius: 1.302vw;
      width: 5.2vw;
      height: 5.2vw;
      background-color: var(--color-lightblue);
    }
  }
}

