* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  
}

:root {
  /*Colors*/

  --color-red: #D62C2C;
  --color-lightblue: #465B67;
  --color-darkblue: #2F4858;
  --color--beige: #FFF0D2;
  --color-font: #465B67;
}

body {
  background-image: url(public/assets/background.png);
  background-color: #FFFFFF;
}

li {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.042vw;
  color: var(--color-darkblue);
}

h1 {
  font-size: 10.417vw;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 11.5vw;
  overflow: hidden;
  color: var(--color-red);
}

h2 {
  font-size: 12.5vw;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-lightblue);
}

h3 {
  font-size: 6.25vw;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 6.5vw;
  overflow: hidden;
  color: var(--color-red);
}

bg {
  display: inline-block;
  width: auto;
  position: relative;
  z-index: 1;
}

bg::before {
  content: "";
  position: absolute;
  top: 0; /* Adjust this value to move the background higher */
  left: 0;
  right: 0;
  height: 70%; /* Adjust this value to control the height of the background */
  background: #F7E96A;
  z-index: -1;
}

label {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 0.625vw;
  color: var(--color-darkblue);
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.833vw;
  color: var(--color-darkblue);
}
/*Navigation Menu Styling*/
.navigation-bar {
  position: fixed;
  width: 100%;
  z-index: 5;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  height: 50px;

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex: 95%;
    justify-content: flex-end;
    
    li {
      margin-left: 25px;
    }
  }

  nav {
    display: flex;
    flex: 5%;

    img {
      height: 25px;
      width: auto;
    }
  }
}

/*Landing Section Styling*/
#home {
  margin-top: 50px;
  height: 100vh;
}

.line-one {
  display: flex;
  flex-direction: row;

  .paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 50%;

    p {
      width: 40%;
      text-align: end;
      font-weight: 500;
    }
  }

  .title {
    display: flex;
    flex: 45%;
    justify-content: flex-end;
  }

  .label {
    display: flex;
    flex: 5%;
    margin-left: 20px;
    margin-top: 1.2vw;
    align-items: start;
    justify-content: start;
    
    label {
      writing-mode: vertical-lr;
      text-orientation: sideways;
    }
  }
}

.line-two {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: visible;

  h2 {
    white-space: nowrap;
    text-align: center;
    flex-shrink: 0;
  }
}

.line-two::before,
.line-two::after {
  content: '';
  flex: 1;
}

.line-three {
  display: flex;
  flex-direction: row;

  .label {
    display: flex;
    flex: 5%;
    margin-right: 20px;
    align-items: end;
    justify-content: end;
    
    label {
      writing-mode: vertical-lr;
      text-orientation: sideways;
      transform: rotate(180deg);
    }
  }

  .title {
    display: flex;
    flex: 48%;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .button-dark {
    display: flex;
    justify-content: end;
    align-items: end;
    margin: 20px;
    flex: 50%;
  }

}

/*Porjects Cards Styling*/
.container {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;

  .cards {
    margin-left: 5.208vw;
    overflow: hidden;
  }
  .card {
    display: flex;
    flex-direction: row;
    height: 31.25vw;
    width: 62.5vw;
    margin-bottom: 50px;
    background: var(--color--beige);
    font-size: 36px;
    border: 1.042vw solid var(--color-darkblue);
    border-radius: 1.302vw;

    .project-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 30%;

      img {
        width: 8vw;
      height: auto;
      }
    }

    .project-role {
      display: flex;
      justify-content: end;
      align-items: start;
      
      margin-top: 7.5vw;

      p {
        writing-mode: vertical-lr;
        text-orientation: sideways;
        transform: rotate(180deg);
        font-size: 1.042vw;
        color: var(--color-darkblue);
      }
    }

    .project-information {
      display: flex;
      flex-direction: column;
      flex: 70%;
      margin-top: 1vw;

      .project-description {
        margin: 1vw;
      }
      .button-dark {
        display: flex;
        justify-content: end;
        margin: 1vw;
      }
    }
  }
  .card:first-child {
    box-shadow: 0px 0px 30px 3px rgba(26, 4, 4, 0.05);
  }
}

/*About Section Styling*/
#about {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--color-darkblue);
  z-index: 3;
}

